html{
	box-sizing: border-box;
  background-color: #000;
  color: #fff;
  }
  *,
  *::after,
  *::before{
	box-sizing: inherit;
  }
  
  ul[class],
  ol[class]{
	padding: 0;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd{
	margin: 0;
  }
  ul[class]{
	list-style: none;
  }
  img{
	max-width: 100%;
	display: block;
  }
  input,
  button,
  textarea,
  select{
	font: inherit;
  }
  a{
	text-decoration: none;
  }
  /*header*/
  .navbar{
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    background: #242424;
    align-content: center;
    border-radius: 100px;
    gap: 10px;
  }
  .nav-item{
    text-align: center;
    color: #fff;
    font-size: 40px;
    width: 25%;
    padding: 10px;
    border-radius: 100px;
    transition: all .25s ;
  }
  .nav-item:hover{
    background: #4F4F4F;
  }
  /*login and register forms*/
  .auth_form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 300px;
    margin-top: 200px;
  }
  .auth_form_form{
    position: relative;
    margin-top: 40px
  }
  .submit-btn{
    
    width: 100%;
    margin-top: 10px;
  }
  