html{
	box-sizing: border-box;
  background-color: #000;
  color: #fff;
  }
  *,
  *::after,
  *::before{
	box-sizing: inherit;
  }
  
  ul[class],
  ol[class]{
	padding: 0;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd{
	margin: 0;
  }
  ul[class]{
	list-style: none;
  }
  img{
	max-width: 100%;
	display: block;
  }
  input,
  button,
  textarea,
  select{
	font: inherit;
  }
  a{
	text-decoration: none;
  }
  /*header*/
  .navbar {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    background: #242424;
    align-content: center;
    border-radius: 100px;
    gap: 10px;
}

.nav-item {
    text-align: center;
    color: #fff;
    font-size: 40px;
    flex: 1 1 25%; /* Allows items to grow and shrink, with an initial size of 25% */
    padding: 10px;
    border-radius: 100px;
    transition: all .25s;
}

.nav-item:hover {
    background: #4F4F4F;
}

/* Media Queries for Responsiveness */

/* Larger screens (default settings) */
@media (min-width: 750px) {
    .nav-item {
        font-size: 40px;
    }
}

/* Medium screens */
@media (max-width: 749px) {
    .nav-item {
        font-size: 30px;
        flex: 1 1 33%; /* Adjust to 3 items per row */
    }
}

/* Small screens */
@media (max-width: 500px) {
    .nav-item {
        font-size: 20px;
        flex: 1 1 50%; /* Adjust to 2 items per row */
    }
}

/* Extra small screens */
@media (max-width: 350px) {
    .nav-item {
        font-size: 16px;
        flex: 1 1 100%; /* Adjust to 1 item per row */
    }
}

  /*login and register forms*/
  .auth_form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 300px;
    margin-top: 200px;
  }
  .auth_form_form{
    position: relative;
    margin-top: 40px
  }
  .submit-btn{
    
    width: 100%;
    margin-top: 10px;
  }
  
  /* Custom Dropdown Styles */
.relative { position: relative; }
.absolute { position: absolute; }
.z-10 { z-index: 10; }
.mt-1 { margin-top: 0.25rem; }
.bg-white { background-color: white; }
.border { border: 1px solid; }
.rounded-lg { border-radius: 0.5rem; }
.shadow-lg { box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1); }
.hover\:bg-gray-200:hover { background-color: #f0f0f0; }
.cursor-pointer { cursor: pointer; }

.dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
